# Nix files
/_build
/.direnv

# Environment variables
.env
/.envrc

# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/
ENV/
env/
.env/

# Build artifacts
*.egg-info/
dist/
build/

# Other
.DS_Store

